{% extends "lockapp/main.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="center-container">
    <div class="login-container">
        <h2>Login</h2>

        {% if messages %}
            {% for message in messages %}
                <p class="message">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>

            <button type="submit">Login</button>

            <p class="switch-link">
                <a href="{% url 'reset_password' %}">Forgot Password?</a>
                <a href="{% url 'logout' %}" id="logout-link">Logout</a>
            </p>
        </form>

        <p class="switch-link">Not registered? <a href="{% url 'register' %}">Sign Up</a></p>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    if (window.location.href.includes('login_success=true')) {
        chrome.runtime.sendMessage({ action: 'loginSuccess' });
    }
</script>
{% endblock %}
