{% extends "lockapp/main.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
    <div style="background: white; padding: 30px; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); width: 300px;">

        <h2 style="text-align: center; margin-bottom: 20px;">Login</h2>

        {% if messages %}
            {% for message in messages %}
                <p style="color: red; text-align: center;">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form method="post" style="display: flex; flex-direction: column;">
            {% csrf_token %}
             <input type="hidden" name="next" value="{{ next }}">

            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required style="margin-bottom: 15px; padding: 8px;">

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required style="margin-bottom: 20px; padding: 8px;">

            <button type="submit" style="padding: 10px; background-color: #4285f4; color: white; border: none; border-radius: 5px; cursor: pointer;">Login</button>
            <p style="margin-top: 10px; text-align: center;">
    <a href="{% url 'reset_password' %}">Forgot Password?</a>
    <a href="{% url 'logout' %}" id="logout-link">Logout</a>

</p>

        </form>

        <p style="margin-top: 15px; text-align: center;">Not registered? <a href="{% url 'register' %}">Sign Up</a></p>
    </div>
</div>
{% endblock %}
