{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Website Locker{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>

    <!-- Floating Animated Background Circles -->
    <div class="background-circles">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    {% block content %}{% endblock %}

</body>
</html>
