{% extends "lockapp/main.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="center-container">
    <div class="login-container">
        <h2>Register</h2>

        {% if messages %}
            {% for message in messages %}
                <p class="message">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>

            <label for="password1">Password:</label>
            <input type="password" name="password1" id="password1" required>

            <label for="password2">Confirm Password:</label>
            <input type="password" name="password2" id="password2" required>

            <button type="submit">Register</button>
        </form>

        <p class="switch-link">Already registered? <a href="{% url 'login' %}">Login</a></p>
    </div>
</div>
{% endblock %}
